@media (max-width: 750px) {
  .tableFooter {
    justify-content: space-between !important;
  }
  .nextPre-buttons {
    display: flex;
    position: absolute !important;
    right: 0 !important;
  }

  .button {
    flex-shrink: 0;
    scroll-snap-align: start;
  }
}

.tableFooter {
  background-color: #f1f1f1;
  padding: 8px 0px;
  width: 100%;
  font-weight: 500;
  text-align: left;
  font-size: 16px;
  color: #2c3e50;
  display: flex;
  align-items: center;
}

.button {
  border: none;
  padding: 7px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px;
}

.activeButton {
  color: white;
  background: #feaf00;
  font-weight: 500;
}

.inactiveButton {
  color: #2c3e50;
  background: #f9f9f9;
}

.nextPre-buttons {
  display: flex;
  position: absolute;
  right: 5em;
  justify-content: space-between;
  flex-direction: row;
}

.nextPre-buttons-left {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
}

.pagination-buttons {
  width: 40% !important;
  display: flex;
  flex-direction: row;
  overflow: auto;
  scroll-snap-type: x mandatory;
}
