.edit-table-button {
  background-color: #feaf00;
  width: 5em;
  align-items: center;
  text-align: center;
  margin: 5px 0;
  border-radius: 3px;
  cursor: pointer;
}

.last-butons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
